# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
# envs & editors
.venv/
venv/
.env
.DS_Store
.vscode/
.idea/
# data/artifacts
data/
runs/
checkpoints/
.wandb/
logs/
# Lightning logs
lightning_logs/
